@import 'mediaqueries';

html, body {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  margin: 0;
  overflow-x: hidden; 
  background: #fff;

  @include desktop {
    font-size: 16px;
    line-height: 19px;
  }
}
